footer {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
  // background: #717171;
  padding: 2em 0px;
}

.footer-col {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 25%;
  font-size: .6em;
  padding: 1em;
  color: white;
  // background: white;
  text-transform: uppercase;
}

.footer-col h4 {
  font-size: 1.2em;
}

.footer-col ul {
  padding-left: 1em;
}

.footer-col li {
  list-style: none;
}

.footer-col p {
  line-height: 1em;
  margin-bottom: .3em;
}
